.font-link {
  font-family: 'Headland One', serif;
}
body {
  margin: 0;
  background-color: gray;
  font-family: -apple-system, Copperplate, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: no-repeat center center fixed;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size: cover;
  background-size: cover;
}

main {
  background: lightgrey
}

table {
  opacity: 1.0;
  background-color: white;
}

/* .hero {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero::before {
  content: "";
  background-image: url('/public/gc-auto-sales-and-service-logo.png');
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.6;
} */

tr:hover {background-color: rgb(0,209,205);}

.header:hover {background-color: white}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.error{
  color: red;
  font-weight: bold;
}
