.font-link {
  font-family: 'Headland One', serif;
}
body {
  margin: 0;
  background-color: gray;
  font-family: -apple-system, Copperplate, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url('/public/fast_car.gif') no-repeat center center fixed;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size: cover;
  background-size: cover;
}

main {
  background: lightgrey
}

table {
  background-color: rgba(255, 255, 255, 0.8);
}


tr:hover {background-color: rgb(0,209,205);}

.header:hover {background-color: white}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.error{
  color: red;
  font-weight: bold;
}
