.nav-links {
    color: #00d1cd;
    text-decoration: none;
    font-weight: bold;
}
.dropdown-menu {
    background-color: rgba(108,117,125,.85);
    border: none;
    text-align: center;
}
.navbar-dark .navbar-nav .nav-link {
    color: #00d1cd;
    font-weight: bold;
}
