.nav-links {
    color: #00d1cd;
    text-decoration: none;
    font-weight: bold;
}
.dropdown-menu {
    background-color: rgba(68,68,68,.95);
    border: none;
    text-align: center;
}
.navbar-dark .navbar-nav .nav-link {
    color: #D3D3D3;
    font-weight: bold;
    font-size: xx-large;
}
